.product-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 5%;
    background: #fff;

}

h1.product-title {
    line-height: 1em;
    font-weight: normal;
}

.product-image-container {
    margin-right: 100px;
}

.product-image {
    margin-top: 40px;
}
.product-info-container .btn.btn-primary {
    display: flex;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
}

.breadcrumbs {
    color: #666;
    display: flex;

    a {
        color: $ttn-primary;
        text-decoration: none;
    }

    svg {
        width: 40px;
        height: 23px;
    }
}

.breadcrumbs1 {
    display: flex;
}

.breadcrumbs2 {
    display: none;
    background: #fff;
}



/*----------------------Media Low Resolution Tablets-----------------*/

@media (max-width: 899px) {

    .product-container {
        width: $widthScreenMd;
        padding: 0 20px 20px;

    }

    h1.product-title {
        font-size: 1.9em;
    }

    .product-image-container {
        margin-right: 50px;
    }

}

/*----------------------Media mobile-----------------*/

@media (max-width: 600px) {

    .product-container {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .product-container .btn.btn-primary {
        width: 100%;
    }

    .product-image-container {
        margin-right: 0px;
    }

    .breadcrumbs1 {
        display: none;
    }

    .breadcrumbs2 {
        display: flex;
    }

}