.product-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;

}
h1.product-title {
    line-height: 1em;
    font-weight: normal;
}
.product-image-container {
    margin-right: 20px;
}

.product-image{margin-top: 40px;}



/*----------------------Media Low Resolution Tablets-----------------*/

@media (max-width: 899px){

    .product-container {
        width: $widthScreenMd;
        padding:0 20px ;
    
    }
    h1.product-title {
        font-size: 1.9em;
    }

}
/*----------------------Media mobile-----------------*/

@media (max-width: 600px){

    .product-container {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .product-container .btn.btn-success {
        width: 100%;
    }

}